
<%- partial('_partial/header',{name:'tags'}) %>
<!--div class="container container-100vh">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <% site.tags.map(function(tag,i){  %>
                <a class="tags has-addons" href="<%- url_for(tag.path) %>">
                    <span class="tag"><%= tag.name %></span>
                    <span class="tag is-primary"><%= tag.length %></span>
                </a>
            <% }) %>
        </div>
    </div>
</div-->
<div class="container container-100vh">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <aside class="is-medium menu">
                        <h3 class="title is-3">TAGS</h3>
                        <div class="column is-12">
                            <% site.tags.map(function(tag,i){  %>
                                <div class="control" style="margin-bottom: 10px;">
                                    <div class="tags has-addons">
                                      <span class="tag is-dark">
                                        <a href="<%- url_for(tag.path) %>" class="is-active">
                                            <!--i class="fab fa-css3-alt"></i-->
                                            <%= tag.name %>
                                        </a>
                                      </span>
                                      <span class="tag is-info">
                                        <%- tag.length %>
                                      </span>
                                    </div>
                                  </div>
                            <% }) %>
                        </div>
                    </aside>
                </div>
                <div class="column is-9">
                    <div class="content is-medium">
                            <h3 class="title is-3">ARTIGOS</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>